body{
    background-color: #1a222e;
}
.menuservicos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo{
    -webkit-text-fill-color: white;
}
.menuservicos input{  
    display: none;
}
.menuservicos label{
    padding: 12px 10px;
    background: #0f1b35;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.menuservicos label:hover{
    background:#1e3a6b;
}
.menuservicos input:checked + label{
    background-color: #216239;
    transition: 0.3s;
}
input[type="radio"]{
    display: none;
}
#busca:checked ~ .menuservicos label[for="busca"],
#consul:checked ~ .menuservicos label[for="consul"],
#design:checked ~ .menuservicos label[for="design"],
#dev:checked ~ .menuservicos label[for="dev"],
#projetos:checked ~ .menuservicos label[for="projetos"]{
     background-color: #216239
}
.info{
    display: none;
}
#busca:checked ~ .conteudo .busca{
    display: block;
}
#consul:checked ~ .conteudo .consul{
    display: block;
}
#design:checked ~ .conteudo .design{
    display: block;
}
#dev:checked ~ .conteudo .dev{
    display: block;
}
#projetos:checked ~ .conteudo .projetos{
    display: block;
}
.entrarcontat{
    width: 400px;
    height: 400px;
    text-align: center;
    color: white;

    margin: auto;
    margin-bottom: 100px;
    margin-top: 250px;

    padding-left:300px;
    padding-right:300px;
    padding-top: 200px;

    border-radius: 40px;

    position: relative;
    overflow: hidden;
}
.entrarcontat::before{
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("https://estaticos.animaeducacao.com.br/medias/20250514152622/-_Imagem_-_An%C3%A1lise_e_Desenvolvimento_de_Sistemas_o_que_faz_o_profissional.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.4;
    z-index: -1;
}
.entrarcontat label{
    display: block;
    margin-bottom: 10px;
}
.botaocontat{
    background-color: #216239;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-block;
    transition: 0.3s;
}
.botaocontat a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.botaocontat:hover{
    background-color: #12a144;
}
.servicos{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.containerservicos{
    display:flex;
    gap:60px;
    width: 80%;
    max-width: 1200px;
}
.conteudo{
    flex: 1;
    color: white;
}