

.header {
  background: linear-gradient(90deg, rgb(158, 158, 158) 0%, rgb(255, 255, 255), 50%, rgb(156, 156, 156) 100%);
  color: white;
}

.container {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

.logo img {
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
  text-decoration: none;
  color: rgb(83, 82, 82);
  transition: 0.3s;
}

.menu a:hover {
  color: #00bfff;
}



/* calma ai agora, vou de body */
.imagem{
display:flex;
justify-content:center;
align-items:center;
}

.imagem img{
width:450px;
max-width:100%;
border-radius:10px;
}

main{
background:#121b29;
}

/* container */

.container{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
flex-wrap:wrap;
}

/* SOBRE */

.sobre{
background:#1f2f46;
padding:100px 10%;
}

.sobre .texto{
max-width:500px;
}

.sobre h2{
font-size:32px;
margin-bottom:20px;
}

.sobre p{
margin-bottom:15px;
color:#ffffff;
line-height:1.6;
}

.sobre img{
width:450px;
border-radius:10px;
}


/* SERVIÇOS */

.servicos{
padding:100px 10%;
text-align:center;
}

.servicos h2{
font-size:32px;
margin-bottom:15px;
}

.subtitulo{
color:#ffffff;
margin-bottom:60px;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.card{
background:#1f2f46;
padding:40px;
width:280px;
border-radius:10px;
box-shadow:0px 5px 20px rgba(12, 1, 107, 0.08);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
margin-bottom:15px;
}

.card p{
color:#ffffff;
}


/* DIFERENCIAIS */

.diferenciais{
background:#121b29;
padding:100px 10%;
text-align:center;
}

.diferenciais h2{
margin-bottom:60px;
font-size:32px;
}


/* CTA */

.cta{
background:#1c2a3a;
color:white;
text-align:center;
padding:100px 10%;
}

.cta h2{
font-size:30px;
margin-bottom:20px;
}

.cta p{
margin-bottom:30px;
color:#ddd;
}

.botao{
background:#2f6df6;
color:white;
padding:15px 35px;
border-radius:6px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.botao:hover{
background:#1f52c7;
}

body {
  background-color: #1E2836;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.button-hero{
  background-color: rgb(35, 73, 145);
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  
}

.hero {
    background-image: url(../imgs/giffundo.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 100px;
}

.hero-texto{
  max-width: 400px;
}

.hero-texto h1{
  font-size: 48px;
}

.hero-texto p{
  font-size: 18px;
  opacity: 0.8;
}

.hero-img {
    width: 900px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.4));
}



h1.text{
    font-size: 39;
    font-family: "Roboto" sans-serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.text {
    font-family: "Roboto" sans-serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer
}

.flag{
  width: 24px;
  height: 16px;
  object-fit: cover;

}

.arrow {
  font-size: 16px;
  color: white;
}



/* footer maneiro */

.footer {
    background-color: #3b3b3b;
    color: #ddd;
    padding: 60px 10%;
    font-family:Arial, sans-serif;
}

.footer-container{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  gap: 40px;
}

.footer-col{
  max-width:250px;
}

.footer-col h3{
  margin-bottom: 15px;
  color:#fff;

}

.footer-col ul{
  list-style: none;
  padding: 0;
}

.footer-col ul li{
  margin-bottom: 10px;

}

.footer-col a:hover{
  color:#fff;
}

.footer-bottom{
  border-top:1px solid #444;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color:#aaa;
}

